.cropped-image. {
  position: relative;
  width: 220px;
}

.cropped-image img {
  margin:auto;
  margin-bottom:30px;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
.image{
  margin:auto;
  border: 10px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
